<%= form_for([@paziente, @cartella_clinica]) do |f| %>
  <% if @cartella_clinica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cartella_clinica.errors.count, "error") %> prohibited this cartella_clinica from being saved:</h2>

      <ul>
      <% @cartella_clinica.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :diagnosi %><br>
    <%= f.text_area :diagnosi %>
  </div>
  <div class="field">
    <%= f.label :valutazione_anatomica %><br>
    <%= f.text_area :valutazione_anatomica %>
  </div>
  <div class="field">
    <%= f.label :valutazione_funzionale %><br>
    <%= f.text_area :valutazione_funzionale %>
  </div>
  <div class="field">
    <%= f.label :iniziale_finale %><br>
    <%= f.text_area :iniziale_finale %>
  </div>
  <div class="field">
    <%= f.label :anamnesi %><br>
    <%= f.text_area :anamnesi %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
