<p id="notice"><%= notice %></p>

<h1>Lista Cartelle Cliniche di <%=@paziente.nome%> <%= @paziente.cognome%></h1>

<table>
  <thead>
    <tr>
      <th>Data&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      
      <th>Chiave&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cartella_clinicas.each do |cartella_clinica| %>
      <tr>
        <td><%= cartella_clinica.data %></td>
        <td><%= cartella_clinica.chiave %></td>
        <td><%= link_to 'Mostra', paziente_cartella_clinica_path(cartella_clinica.paziente.id,cartella_clinica.id) %></td>
	<td>&nbsp;</td>
        <td><%= link_to 'Modifica', edit_cartella_clinica_path(cartella_clinica.id) %></td>
	<td>&nbsp;</td>
        <td><%= link_to 'Elimina', paziente_cartella_clinica_path(cartella_clinica.paziente.id,cartella_clinica.id), method: :delete, data: { confirm: 'Sei sicuro?' } %></td>
	<td>&nbsp;</td>
      </tr>
    <% end %>
  </tbody>
</table>
 <%= will_paginate %>
<br>
<%= link_to 'Indietro', pazientes_path %>

