<p id="notice"><%= notice %></p>
<% @cartella_clinica.where(paziente_id: @id).find_each do |cartella_clinica|%>
<p>
  <br>
  <strong>Diagnosi:</strong>
  <%= cartella_clinica.diagnosi %>
</p>

<p>
  <strong>Valutazione anatomica:</strong>
  <%= cartella_clinica.valutazione_anatomica %>
</p>

<p>
  <strong>Valutazione funzionale:</strong>
  <%= cartella_clinica.valutazione_funzionale %>
</p>

<p>
  <strong>Iniziale finale:</strong>
  <%= cartella_clinica.iniziale_finale %>
</p>

<p>
  <strong>Anamnesi:</strong>
  <%= cartella_clinica.anamnesi %>
</p>

<%= will_paginate %>

<%= link_to 'Modifica', edit_cartella_clinica_path(cartella_clinica.id) %> |
<%= link_to 'Indietro', pazientes_path %>

<% end %>


