<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @paziente.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @paziente.cognome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @paziente.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @paziente.telefono %>
</p>
<td><%= link_to 'NuovaCartellaClinica', new_paziente_cartella_clinica_path(1) %></td>
 
	<td><%= link_to 'MostraCartelleCliniche',  paziente_cartella_clinicas_path(@paziente.id) %></td>

<%= link_to 'Modifica', edit_paziente_path(@paziente) %> |
<%= link_to 'Indietro', pazientes_path %><td>
